<%=link_to "Dashboard", root_path%>
<%=link_to "Constellations", constellations_path(@constellation)%>
<%=link_to "Stargazings", stargazings_path(@stargazing)%> 


<h1>All Astrophotographers</h1>
    <%@users.each do |user|%>
    <p><%= link_to user.username, user_path(user)%></p>
<%end%>
